# Keep only the .h5 model (smaller, needed for Streamlit)
model/brain_tumor_classifier.keras

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Kaggle
kaggle.json

# Dataset (downloaded at runtime)
dataset/
